// Medkumo Colours
// Typography

$header-font: 'Abhaya Libre', sans-serif;

$primary-font: 'Source Sans Pro', sans-serif;
$body-font: 'Source Sans Pro', sans-serif;
$feature: 'Source Sans Pro', sans-serif;


$sm:4%;
$md:8%;
$lg:16%;


// white grey
$white:#f9f6f1;
// light grey
$light:#f5f1ea;
// dark grey
$dark:#414042;


// olive
$main:#8d9b6a;
//pink
$main-contrast:#a98577;
// teal grey
$main-light:#798d93;
// dark teal
$main-dark:#214f5e;

// ligh tteal
$secondary:#62969b;
// mustard
$secondary-contrast:#eabb1f;


$shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$text-shadow: 2px 2px 10px rgba(0,0,0,0.4);

